* {
    font-family: Helvetica;
}
#left, #right {
    background-color: rgb(70, 130, 180);
    color: white;
    width: 25%;
    height: 80px;
    float: left;
}
#middle {
    background-color: rgb(70, 130, 180);
    width: 50%;
    height: 80px;
    color: white;
    float: left;
}
main {
    background-color: rgb(244,255,255);
    padding: 40px;
    clear: both;
}
#bottomleft, #bottomright {
    background-color: rgb(70, 130, 180);
    width: 50%;
    float: left;
    height: 200px;
    text-align: center;
}
footer {
    background-color: rgb(244,255,255);
    clear: both;
}
table {
    border: 1px solid blue;
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid blue;
}
th {
    border: 1px solid blue;
    background-color: blue;
    color: white;
}