* {
    font-family: Garamond;
}
header {
    background-color: saddlebrown;
    text-align: center;
    height: 50px;
}
#left {
    background-color: tan;
    height: 500px;
    width: 40%;
    float: left;
}
#right_second, #right_first {
    Float: left;
    height: 250px;
    width: 60%;
    background-color: tan;
}
footer {
    background-color: saddlebrown;
    color: white;
}
form {
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}
input {
    margin: 5px;
}
p::before {
    content: "STATUS: ";
}